body {
    font-family: sans-serif;
    color: #ffffff;
}

#header, #footer, .content-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header, #footer {
    max-width: 600px;
    background-color: #2269bb;
}

#header {
    min-height: 200px;
}

#footer {
    min-height: 500px;
}

.content-item {
    background-color: #16457a;
    min-height: 200px;
    min-width: 190px;
}

#content {
    margin: 10px 0;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

